<html>
<head>

	<style>

	body{
		font-family: "Droid Sans",Helvetica,Arial,sans-serif;
	}

	button{
		background-color: rgb(80, 129, 179);
		color: white;
		padding: 0.833em;
		display: inline-block;
		text-decoration: none;
		border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
		font-family: "Droid Sans",Helvetica,Arial,sans-serif;
		line-height: 1.125em;
		margin: 10px;
		border: 1px solid rgb(217, 219, 221);
	}

	input{
		padding: 1em 0.625em;
		border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
		border: 1px solid rgb(217, 219, 221);
	}
	
	msg_error{
		font-color: red;	
	}
	msg_error{
		font-color: gree;
	}

	</style>

	<script type="text/javascript" src="../public/javascripts/database_requests.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/jquery.cookie.js"></script>
	<script type="text/javascript">

	var existing_user = true;
	
	function clearFields(){
		document.getElementById('password').innerHTML = '';
		document.getElementById('confirm_password').innerHTML = '';
		document.getElementById('firstname').innerHTML = '';
		document.getElementById('lastname').innerHTML = '';
		//document.getElementById('error_message').innerHTML = '';
	}

	function toggleFunction(){
		if(existing_user){
			document.getElementById('confirm_password_div').style.display = "inherit";
			document.getElementById('first_name_div').style.display = "inherit";
			document.getElementById('last_name_div').style.display = "inherit";
			document.getElementById('create_button').innerHTML = "Existing User";
			document.getElementById('login_title').innerHTML = "Create New Account";
			//clearFields();
			existing_user = false;
		}
		else{ //new user registration
			document.getElementById('confirm_password_div').style.display = "none";
			document.getElementById('first_name_div').style.display = "none";
			document.getElementById('last_name_div').style.display = "none";
			document.getElementById('create_button').innerHTML = "Sign Up!";
			document.getElementById('login_title').innerHTML = "Existing User";
			//clearFields();
			existing_user = true;
		}
	}

	//sending request to server 
	function sendRequest(){
		if(existing_user){
			var userEmail = document.getElementById('email').value;
			var userPassword = document.getElementById('password').value;
			if(userEmail.length == 0 || userPassword.length==0){
				console.log("email or password field empty!");
				//error message
				//display no email address message
				document.getElementById('error_message').setAttribute('style', 'color: red');
				document.getElementById('error_message').innerHTML = 'Email or password field empty!';
			}else{
				console.log("email and password field not empty!");
				$.post('/validate_login',
				{email:userEmail, password:userPassword, isAdmin:false},
				function(data, status) {
					//callback function
					console.log("Data: " + data + "\nStatus: " + status);
					var response = JSON.parse(data);
					
					if(response.success){
						document.getElementById('error_message').setAttribute('style', 'color: green');
						document.getElementById('error_message').innerHTML = 'Logged In!';
						$.cookie("email", response.rows[0].email);
						$.cookie("password", response.rows[0].password);
						$.cookie("firstName", response.rows[0].firstname);
						$.cookie("lastName", response.rows[0].lastname);
						if(response.rows.isAdmin){
							$.cookie("mode", "admin");
						}else{
							$.cookie("mode", "student");
						}
						alert("cookie.user set to: " + $.cookie("email"));
						//load the home page of the user
						window.location.href = "/";
					}
				});
			}
		}else{
			var userEmail = document.getElementById('email').value;
			var userPassword = document.getElementById('password').value;
			var confirmPassword = document.getElementById('confirm_password').value;
			var firstname = document.getElementById('firstname').value;
			var lastName = document.getElementById('lastname').value;
			var error_display = document.getElementById('error_message');
			
			console.log("Email: " + userEmail + "  Password: " + userPassword);
			if(userPassword !== confirmPassword){
				console.log("different passwords:  " + userPassword + "  " + confirmPassword);
				//display passwords different error
				error_display.setAttribute('style', 'color: red');
				error_display.innerHTML = 'Passwords don\'t match';
			}else if(userEmail.length == 0){
				console.log("invalid email");
				//display no email address message
				error_display.setAttribute('style', 'color: red');
				error_display.innerHTML = 'Email field empty!';
			}else{
				console.log("sending register data");
				$.post('/register', 
				{email:userEmail, password:userPassword, firstName:firstname, lastName:lastName},
				function(data, status){
					//callback function
					console.log("Data: " + data + "\nStatus: " + status);
					var response = JSON.parse(data);
					if(response.newUser == true){
						//display no email address message
						toggleFunction();
						document.getElementById('error_message').setAttribute('style', 'color: green');
						document.getElementById('error_message').innerHTML = 'You have successfully signed up!';
					}else{
						//display no email address message
						toggleFunction();
						userPassword.innerHTML='';
						document.getElementById('error_message').setAttribute('style', 'color: green');
						document.getElementById('error_message').innerHTML = 'You have already signed up!';
					}
					
				});
			}
		}
	}

	</script>

</head>

<body style="text-align: center; background-color: #84B4D5;">
<div id="top" style="height: 20%;"></div>

<div id="container" style="background: rgb(245, 245, 245); border-radius: 6px 6px 6px 6px; padding: 20px 20px; width: 600px; margin: 0 auto; text-align: left;">

	<div id="title_div" style="display: inline-block; vertical-align: top; text-align: center; width: 40%">
		<div style="height: 15%"></div>
		<h1>CSTutor</h1>
	</div>
	
	<div id="login_div" style="display: inline-block; border-left: solid black 1px; padding: 20px; text-align: center;">
			<h3 id="login_title">Existing User</h3>
			<div style="float: left; text-align: left;">Email:<br><input id="email"></div><br>
			<div style="float: left; text-align: left;">Password:<br><input id="password" type="password"></div><br>
			<div id="confirm_password_div" style="display: none; float: left; text-align: left;">Confirm Password:<br> <input id="confirm_password" type="password"></div><br>
			<div id="first_name_div" style="display: none; float: left; text-align: left;">First Name:<br><input id="firstname"></div><br>
			<div id="last_name_div" style="display: none; float: left; text-align: left;">Last Name:<br><input id="lastname"></div><br>
			<button id="login_button" onclick="sendRequest()" >Log In</button>
			<button id="create_button" onclick="toggleFunction()">Sign Up!</button>
	</div>
	
	<br><br>
	<div id="error_div" style="text-align:center; vertical-align:bottom"><p id="error_message"></p></div>

</div>


</body>
</html>
